<li class="list-group-item" data-burger_id="{{id}}">
    <form>
        <div class="form-row">
            <div class="col-2">
                <button class="btn btn-secondary">EAT IT!</button>
            </div>
            <div class="col-10 d-flex align-items-center justify-content-center">
                <h3 class="text-right">{{burgerName}}</h3>
            </div>
        </div>
    </form>
</li>